.header {
  font-weight: 900;
  position: relative;
  padding-bottom: .4em;
}
/* gardient-hunt.com */


.header::selection {
  background-color: black;
  color: yellow;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 1687em;
  height: 0.2em;
  width: 100%;
  animation: headerAnimation infinite 3s;
}

@keyframes headerAnimation {
  0% {
    width: 0%;
    background-color: blue;
  }
  25% {
    width: 30%;
    left: 25%;
    background-color: green;
  }
  50% {
    left: 50%;
    width: 0%;
    background-color: orange;
  }
  75% {
    width: 25%;
    left: 50%;
    background-color: red;
  }

  100% {
    width: 0%;
    left: 100%;
    background-color: yellow;
  }
}

.formdiv {
  height: 15%;
  padding: 0.3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #28CC9E;
}
input {
  height: 50%;
  flex: 0.7;
  color: rgb(0, 8, 9);
  padding-left: 2em;
  font-weight: 800;
  font-size: medium;
  caret-color: aqua;
}
input::placeholder {
  color: rgb(167, 163, 163);
  font-weight: 600;
  font-size: medium;
}
input:focus::placeholder {
  display: none;
}
button {
  --color: #4a98f7; 
  text-decoration: none;
  box-sizing: border-box;
  border: 0.1rem solid transparent;
  background-color: var(--color);
  border: 0;
  padding: 0.4em .7em;
  border-radius: 0.6em;
  position: relative;
  font-size: larger;
}
button:hover {
  background-color: black;
  color: white;
  transition: linear 0.1s;
}

button:active {
  scale: 0.7;
  transition: all ease 0.2s;
}

.follower {
  position: fixed;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: #000;
  border-radius: 50%;
  transition: transform 0.2s ease-out;
  pointer-events: none;
}
